body {
  background-color: red;
  color: yellow; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      color: aquamarine;
      font-size: 22px; }
